* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
}

#canvas {
    width: 1000px;
    height: 500px;
    border: 1px solid black;
}

.bord {
    width: 20%;
    height: 500px;
    background-color: royalblue;
}